/* Add your custom extension styling here */
.preset-submenu-label {
    padding-left: 60px;
    color: lightcoral;
    font-size: larger;
    font-weight: bold;
}

.preset-submenu-item {
    padding-left: 50px;
}

.pw_icon {
    height: 50px;
    width: 50px;
}